<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.musikouyi.jzframe.dao.mapper.DeptMapper">
    <select id="findUserInfo" resultType="com.musikouyi.jzframe.domain.entity.Dept">
        select id, fullName, parentId from dept
    </select>

    <insert id="addUserInfo" parameterType="com.musikouyi.jzframe.domain.entity.Dept">
        insert into dept(id, fullName, parentId) value
        (#{id, jdbcType=INTEGER}, #{fullName, jdbcType=VARCHAR})
    </insert>

    <delete id="delUserInfo" parameterType="java.lang.Integer">
        delete from dept where id = #{id, jdbcType=INTEGER}
    </delete>
</mapper>